.at-menu-item {
  position:       relative;
  text-transform: uppercase;
  font-weight:    500;
  font-size:      .9rem;
  letter-spacing: 1px;
  transition:     $transition-time;

  &.--has-submenus {
    &::before {
      position:   absolute;
      top:        50%;
      transform:  translateY(-50%);
      right:      -14px;
      content:    '';
      visibility: collapse;
      opacity:    0;
      border:     7px solid transparent;
      transition: $transition-time;
    }

    &:hover::before {
      visibility: visible;
      opacity:    1;
    }
  }

  &-link {
    display:         flex;
    align-items:     center;
    padding:         15px;
    text-decoration: none;
    text-overflow:   ellipsis;
    white-space:     nowrap;
    overflow:        hidden;
    transition:      $transition-time;
    outline:         none;

    &-icon {
      display:      block;
      width:        $at-menu-item-link-icon-width;
      height:       $at-menu-item-link-icon-width;
      margin-right: $at-menu-item-link-icon-right-margin;
      font-size:    1.5rem;
    }
  }

  &.--has-submenus:hover .at-menu-list.--submenu {
    visibility: visible;
    opacity:    1;
  }
}

@import 'menu-item/theme'
