.at-menu-list {
  list-style: none;
  margin:     0;
  padding:    0;
  transition: $transition-time;

  &.--submenu {
    position:         absolute;
    top:              0;
    right:            -$at-menu-width - 27px;
    visibility:       hidden;
    opacity:          0;
    background-color: $at-menu-background;
    border-radius:    4px;
    box-shadow:       0 1px 6px rgba($black, .15);
  }
}
