.at-menu-item {
  position:    relative;
  width:       $at-menu-width;
  border-left: $at-menu-item-border-left-width solid $at-menu-item-active-background;
  transition:  $transition-time;

  &.--exact-active,
  &.--has-submenus.--active {
    color:             $primary;
    background-color:  $at-menu-item-active-background;
    border-left-color: $primary;
    width:             $at-menu-width - $at-menu-item-border-left-width;
  }

  &:hover > &-link {
    transform: translateX(5px)
  }

  &-link {
    display:         flex;
    align-items:     center;
    color:           darken($primary, 20%);
    padding:         15px;
    width:           $at-menu-width - $at-menu-item-border-left-width;
    overflow:        hidden;
    text-decoration: none;
    transition:      $transition-time;

    > .at-icon {
      display:      block;
      width:        24px;
      height:       24px;
      margin-right: 15px;
      font-size:    1.5rem;
    }
  }

  &.--has-submenus:hover .at-menu-list.--submenu {
    visibility: visible;
    opacity:    1;
  }
}
