.at-menu {
  padding:    20px;
  background: $at-menu-background;
  width:      $at-menu-width;
  z-index:    999;

  &.--vertical {
    //
  }

  &.--horizontal {
    //
  }

  &.--fill {
    position: fixed;
    top:      0;
    left:     0;
  }

  &.--fill.--vertical {
    bottom: 0;
  }

  &.--fill.--horizontal {
    right: 0;
  }
}

@import 'menu/menu-item';
@import 'menu/menu-list';
