$primary: #0052CC
$black: #000

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

$transition-time: .3s

$at-menu-width: 200px
$at-menu-background: #f4f4f4
$at-menu-item-active-background: #eaeaea;
$at-menu-item-border-left-width: 4px
$at-menu-item-submenu-left-margin: 15px
