.at-menu-item {
  padding: 0 25px;
  color: $at-menu-item-link-color;

  &.--exact-active,
  &.--has-submenus.--active {
    color: $at-menu-item-active-color;
  }

  &.--has-submenus {
    &::before {
      border-left-color: $at-menu-background;
    }
  }

  &:hover > &-link {
    color: $at-menu-item-active-color;
  }

  &-link {
    color: inherit;
  }
}
